##### <div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

## Lab 4.2.1: Feature Selection

### 1. Load & Explore Data

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

%matplotlib inline
import matplotlib.pyplot as plt

from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

#### 1.1 Load Data

In [3]:
# Read CSV
# Load the wine dataset from csv
wine = pd.read_csv("C:/Users/david/DATA/winequality_merged.csv")

#### 1.2 Explore Data (Exploratory Data Analysis)

In [4]:
# ANSWER
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

In [5]:
wine.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

In [6]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         6497 non-null   float64
 1   volatile acidity      6497 non-null   float64
 2   citric acid           6497 non-null   float64
 3   residual sugar        6497 non-null   float64
 4   chlorides             6497 non-null   float64
 5   free sulfur dioxide   6497 non-null   float64
 6   total sulfur dioxide  6497 non-null   float64
 7   density               6497 non-null   float64
 8   pH                    6497 non-null   float64
 9   sulphates             6497 non-null   float64
 10  alcohol               6497 non-null   float64
 11  quality               6497 non-null   int64
 12  red_wine              6497 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 660.0 KB

In [8]:
wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378,0.246114
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255,0.430779
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000,0.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000,0.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000,0.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000,0.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000,1.000000

In [17]:
#check fixed acidity with min value as 0
wine[wine['fixed acidity'] == 0]

Empty DataFrame
Columns: [fixed acidity, volatile acidity, citric acid, residual sugar, chlorides, free sulfur dioxide, total sulfur dioxide, density, pH, sulphates, alcohol, quality, red_wine]
Index: []

In [18]:
#check citric acid with min value as 0
wine[wine['citric acid'] == 0]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.700,0.0,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
1,7.8,0.880,0.0,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
4,7.4,0.700,0.0,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
5,7.4,0.660,0.0,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5,1
7,7.3,0.650,0.0,1.2,0.065,15.0,21.0,0.99460,3.39,0.47,10.0,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5897,5.6,0.260,0.0,10.2,0.038,13.0,111.0,0.99315,3.44,0.46,12.4,6,0
6196,6.7,0.660,0.0,13.0,0.033,32.0,75.0,0.99551,3.15,0.50,10.7,6,0
6378,6.0,0.590,0.0,0.8,0.037,30.0,95.0,0.99032,3.10,0.40,10.9,4,0
6391,4.7,0.785,0.0,3.4,0.036,23.0,134.0,0.98981,3.53,0.92,13.8,6,0
6476,5.9,0.540,0.0,0.8,0.032,12.0,82.0,0.99286,3.25,0.36,8.8,5,0

In [19]:
#what are diff valus in wines
wine['red_wine'].value_counts()

0    4898
1    1599
Name: red_wine, dtype: int64

In [21]:
#null values
wine.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
red_wine                0
dtype: int64

### 2. Set Target Variable

Create a target variable for wine quality.

In [7]:
# Target Variable
X = wine['alcohol'].values.reshape(-1,1)
print(X)

[[ 9.4]
 [ 9.8]
 [ 9.8]
 ...
 [ 9.4]
 [12.8]
 [11.8]]

### 3. Set Predictor Variables

Create a predictor matrix with variables of your choice. State your reason.

In [9]:
# ANSWER
Y = wine['quality']
print(Y)

0       5
1       5
2       5
3       6
4       5
       ..
6492    6
6493    5
6494    6
6495    7
6496    6
Name: quality, Length: 6497, dtype: int64

### 4. Using Linear Regression Create a Model and Test Score

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [15]:
lr=LinearRegression()
lr.fit(X,Y)

print(lr.coef_, lr.intercept_)

[0.32531204] 2.4052686015566236

In [24]:
lr.score(X,Y)

0.19741894722179099

In [26]:
# Train-Test Split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=42)

In [27]:
# Create a model for Linear Regression FIT!!
lr.fit(X_train, y_train)

LinearRegression()

In [28]:
# Fit the model with the Training data FIT!!
lr.fit(X_train, y_train)

LinearRegression()

In [29]:
# Calculate the score (R^2 for Regression) for Training Data TRAIN!!
lr.score(X_train, y_train)

0.20109549577996289

In [31]:
# Calculate the score (R^2 for Regression) for Testing Data TRAIN
lr.score(X_test, y_test)

0.18158453862144686

### BONUS: Cross validation

In [ ]:
DONT KNOW!!help!

In [32]:
# Cross validation 
from sklearn.model_selection import KFold 
from sklearn.metrics import mean_squared_error

In [36]:
# Set up 5-fold cross validation  
k_fold = KFold(5, shuffle=True)
train_scores = []
train_rmse = []
test_scores = []
test_rmse = []

for k, (train, test) in enumerate(k_fold.split(X)):
    
    # Get training and test sets for X and y
    
    # Fit model with training set
    
    # Make predictions with training and test set
    
    # Score R2 and RMSE on training and test sets and store in list
    
# Create a metrics_df dataframe to display r2 and rmse scores

SyntaxError: unexpected EOF while parsing (<ipython-input-36-715988f84b33>, line 18)

In [34]:
# Describe the metrics

### 5. Feature Selection

What's your score (R^2 for Regression) for Testing Data? 

How many feature have you selected? Can you improve your score by selecting different features?

In [35]:
#What's your score (R^2 for Regression) for Testing Data?
# Calculate the score (R^2 for Regression) for Testing Data TRAIN
lr.score(X_test, y_test)

0.18158453862144686

In [ ]:
#How many feature have you selected? Can you improve your score by selecting different features?

**Please continue with Lab 4.2.2 with the same dataset.**



---



---



> > > > > > > > > © 2021 Institute of Data


---



---